<div class="container">
  <h1>Welcome to Twitter Scraper!</h1>

  <form action="/username" id="find-tweets" method="POST">
    <input type="text" name="user" placeholder="Twitter Username To Search">
    <input type="submit" id="crawl-tweets" value="Submit">
  </form>

  <div id="status"></div>
  </br><div id="loading_img" style="display: none;"><img src='/gifs/ajax-loader.gif'>Loading...</img></div>
</div>
